<nav class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Holiday42</a>
    </div>

    <ul class="nav navbar-nav">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/flight-booking/flight-search">Flight Booking</a></li>

        <li><a [routerLink]="[{outlets: { aux: 'basket'}}]">Show Basket</a></li>
        <li><a [routerLink]="[{outlets: { aux: null }}]">Hide Basket</a></li>
    </ul>
</nav>

<div class="container">

  <div class="col-sm-10">
    <router-outlet></router-outlet>
  </div>
  <div class="col-sm-2">
    <router-outlet name="aux"></router-outlet>
  </div>

</div>

