

<div class="row card">

    <h1>Flight Search</h1>

    <form #f="ngForm" roundTrip>

        <div *ngIf="f?.hasError('roundTrip')">
            RoundTrip
        </div>

        <div class="form-group">
            <label>From</label>
            <input
                [(ngModel)]="from"
                name="from"
                required
                minlength="3"
                maxlength="30"
                asyncCity
                city="Zürich,Hamburg,Graz,Frankfurt,Hannover,Berlin,Wien,München,Münster,Osnabrück"
                pattern="[a-zA-ZöäüßÖÄÜ]*"
                class="form-control">

            <div *ngIf="!f?.controls['from']?.valid && f?.controls['from']?.dirty">
                Validierungsfehler
                <pre>{{ f?.controls['from']?.errors | json }}</pre>
            </div>
            <div *ngIf="f?.controls['from']?.hasError('required') && f?.controls['from']?.dirty">Required</div>
            <div *ngIf="f?.controls['from']?.hasError('minlength')">Minlength</div>
            <div *ngIf="f?.controls['from']?.hasError('maxlength')">Maxlength</div>
            <div *ngIf="f?.controls['from']?.hasError('pattern')">Pattern</div>
            <div *ngIf="f?.controls['from']?.hasError('city') && f?.controls['from']?.dirty">City</div>
            <div *ngIf="f?.controls['from']?.hasError('asyncCity')">asyncCity</div>

            <div *ngIf="f?.controls['from']?.pending">
                <marquee direction="down">Validation pending ...</marquee>
            </div>

            <div *ngIf="customError">
                customError!
            </div>

            <hr>
            <flight-validation-errors [errors]="f?.controls['from']?.errors"></flight-validation-errors>

        </div>
        <div class="form-group">
            <label>To</label>

            <select [(ngModel)]="to" name="to" class="form-control">
              <option></option>
              <option *ngFor="let a of airports" value="{{a}}">{{a}}</option>
            </select>

        </div>
        <div class="form-group">
            <button (click)="search()" [disabled]="!f?.valid" class="btn btn-default">
            Search
        </button>
        </div>
    </form>
</div>

<div class="row">
    <div *ngFor="let f of flights" class="col col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <flight-card [item]="f" [(selected)]="basket[f.id]"></flight-card>
    </div>
</div>
<!--  (selectedChange)="basket[f.id] = $event" -->
<!--
<div class="card" *ngIf="flights.length > 0">
    <table class="table table-striped">
        <tr *ngFor="let f of flights" [ngClass]="{ 'active': f == selectedFlight }">
            <td>{{f.id}}</td>
            <td>{{f.from | city:'short' }}</td>
            <td>{{f.to | city:'long' }}</td>
            <td>{{f.date | date:'dd.MM.yyyy'}}</td>
            <td><a (click)="select(f)">Select</a></td>
        </tr>
    </table>
</div>
-->
<div class="row card">
    <pre>{{ basket | json }}</pre>
</div>
